absl-py==0.7.1
altgraph==0.16.1
astor==0.7.1
audioread==2.1.6
cycler==0.10.0
decorator==4.4.0
future==0.17.1
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
imageio==2.5.0
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
librosa==0.6.3
llvmlite==0.28.0
macholib==1.11
Markdown==3.1
matplotlib==3.0.3
mock==3.0.4
networkx==2.3
numba==0.43.1
numpy==1.16.3
pefile==2019.4.18
Pillow==6.0.0
protobuf==3.7.1
PyAudio==0.2.11
pydub==0.23.1
PyInstaller==3.4
pyparsing==2.4.0
python-dateutil==2.8.0
PyWavelets==1.0.3
pywin32-ctypes==0.2.0
PyYAML==5.1
resampy==0.2.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
Werkzeug==0.15.2